In [14]:
# load pandas
import pandas

In [15]:
# Let's load some data from a csv
my_dataframe = pandas.read_csv('U.S._Chronic_Disease_Indicators__CDI_.csv')

In [8]:
# Look at the datatypes that pandas detected on import
my_dataframe.ftypes

YearStart                      int64:dense
YearEnd                        int64:dense
LocationAbbr                  object:dense
LocationDesc                  object:dense
DataSource                    object:dense
Topic                         object:dense
Question                      object:dense
Response                      object:dense
DataValueUnit                 object:dense
DataValueTypeID               object:dense
DataValueType                 object:dense
DataValue                     object:dense
DataValueAlt                 float64:dense
DataValueFootnoteSymbol       object:dense
DatavalueFootnote             object:dense
LowConfidenceLimit           float64:dense
HighConfidenceLimit          float64:dense
StratificationCategory1       object:dense
Stratification1               object:dense
StratificationCategory2       object:dense
Stratification2               object:dense
StratificationCategory3       object:dense
Stratification3               object:dense
GeoLocation                   object:dense
TopicID                       object:dense
QuestionID                    object:dense
ResponseID                    object:dense
LocationID                    object:dense
StratificationCategoryID1     object:dense
StratificationID1             object:dense
StratificationCategoryID2     object:dense
StratificationID2             object:dense
StratificationCategoryID3     object:dense
StratificationID3             object:dense
dtype: object

In [9]:
# Take a peek the column names
my_dataframe.columns

Index([u'YearStart', u'YearEnd', u'LocationAbbr', u'LocationDesc',
       u'DataSource', u'Topic', u'Question', u'Response', u'DataValueUnit',
       u'DataValueTypeID', u'DataValueType', u'DataValue', u'DataValueAlt',
       u'DataValueFootnoteSymbol', u'DatavalueFootnote', u'LowConfidenceLimit',
       u'HighConfidenceLimit', u'StratificationCategory1', u'Stratification1',
       u'StratificationCategory2', u'Stratification2',
       u'StratificationCategory3', u'Stratification3', u'GeoLocation',
       u'TopicID', u'QuestionID', u'ResponseID', u'LocationID',
       u'StratificationCategoryID1', u'StratificationID1',
       u'StratificationCategoryID2', u'StratificationID2',
       u'StratificationCategoryID3', u'StratificationID3'],
      dtype='object')

In [10]:
# Take a peek at the first few rows of data
my_dataframe.head(5)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueTypeID,...,TopicID,QuestionID,ResponseID,LocationID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2013,2013,CA,California,YRBSS,Alcohol,Alcohol use among youth,NaN,%,CrdPrev,...,ALC,ALC1_1,NaN,6,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2013,2013,CO,Colorado,YRBSS,Alcohol,Alcohol use among youth,NaN,%,CrdPrev,...,ALC,ALC1_1,NaN,8,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2013,2013,CT,Connecticut,YRBSS,Alcohol,Alcohol use among youth,NaN,%,CrdPrev,...,ALC,ALC1_1,NaN,9,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2013,2013,DC,District of Columbia,YRBSS,Alcohol,Alcohol use among youth,NaN,%,CrdPrev,...,ALC,ALC1_1,NaN,11,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2013,2013,DE,Delaware,YRBSS,Alcohol,Alcohol use among youth,NaN,%,CrdPrev,...,ALC,ALC1_1,NaN,10,OVERALL,OVR,NaN,NaN,NaN,NaN

In [13]:
my_dataframe.describe()

,YearStart,YearEnd,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit
count,237961.000000,237961.000000,1.659960e+05,141388.000000,141388.000000
mean,2012.678254,2012.723833,9.659927e+02,60.392008,74.255692
std,1.367197,1.275515,1.884835e+04,102.967598,119.295383
min,2001.000000,2001.000000,0.000000e+00,0.000000,0.490000
25%,2012.000000,2012.000000,2.020000e+01,13.000000,19.700000
50%,2013.000000,2013.000000,4.830000e+01,34.100000,48.600000
75%,2014.000000,2014.000000,8.500000e+01,63.600000,77.100000
max,2014.000000,2014.000000,4.022808e+06,1293.000000,2088.000000

In [16]:
my_dataframe.columns

Index([u'YearStart', u'YearEnd', u'LocationAbbr', u'LocationDesc',
       u'DataSource', u'Topic', u'Question', u'Response', u'DataValueUnit',
       u'DataValueTypeID', u'DataValueType', u'DataValue', u'DataValueAlt',
       u'DataValueFootnoteSymbol', u'DatavalueFootnote', u'LowConfidenceLimit',
       u'HighConfidenceLimit', u'StratificationCategory1', u'Stratification1',
       u'StratificationCategory2', u'Stratification2',
       u'StratificationCategory3', u'Stratification3', u'GeoLocation',
       u'TopicID', u'QuestionID', u'ResponseID', u'LocationID',
       u'StratificationCategoryID1', u'StratificationID1',
       u'StratificationCategoryID2', u'StratificationID2',
       u'StratificationCategoryID3', u'StratificationID3'],
      dtype='object')

In [17]:
my_dataframe.

YearStart                    237961
YearEnd                      237961
LocationAbbr                 237961
LocationDesc                 237961
DataSource                   237961
Topic                        237961
Question                     237961
Response                      77856
DataValueUnit                205218
DataValueTypeID              237961
DataValueType                237961
DataValue                    189413
DataValueAlt                 165996
DataValueFootnoteSymbol      128405
DatavalueFootnote            128222
LowConfidenceLimit           141388
HighConfidenceLimit          141388
StratificationCategory1      237961
Stratification1              237961
StratificationCategory2       77856
Stratification2               77856
StratificationCategory3       77856
Stratification3               77856
GeoLocation                  236523
TopicID                      237961
QuestionID                   237961
ResponseID                    77856
LocationID                   237961
StratificationCategoryID1    237961
StratificationID1            237961
StratificationCategoryID2     77857
StratificationID2             77857
StratificationCategoryID3     77856
StratificationID3             77856
dtype: int64